:root {
    --primary-bg-color: #121212;
    --primary-text-color: #e0e0e0;
    --secondary-bg-color: #1e1e1e;
    --secondary-text-color: #c0c0c0;
  }
  
  body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
  }
  
  header, footer {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
  }
  
  a {
    color: var(--primary-text-color);
  }
  